In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.preprocessing import StandardScaler

In [2]:
DF_PATH = '../../data/dataframes/telecom_churn.csv'
df = pd.read_csv(DF_PATH)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Churn            3333 non-null   int64
 1   AccountWeeks     3333 non-null   int64
 2   ContractRenewal  3333 non-null   int64
 3   DataPlan         3333 non-null   int64
 4   DataUsage        3333 non-null   float64
 5   CustServCalls    3333 non-null   int64
 6   DayMins          3333 non-null   float64
 7   DayCalls         3333 non-null   int64
 8   MonthlyCharge    3333 non-null   float64
 9   OverageFee       3333 non-null   float64
 10  RoamMins         3333 non-null   float64
dtypes: float64(5), int64(6)
memory usage: 286.6 KB

In [3]:
df['Churn'].value_counts()

Churn
0    2850
1     483
Name: count, dtype: int64

In [4]:
# Data Enchatment
df['AvgMinPerCall'] = np.where(df['DayCalls'] > 0, df['DayMins'] / df['DayCalls'], 0)
df['AvgDataUsagePerWeek'] = np.where(df['AccountWeeks'] > 0, df['DataUsage'] / df['AccountWeeks'], 0)
df['RoamMinsRatio'] = np.where(df['DayMins'] > 0, df['RoamMins'] / df['DayMins'], 0)
df['ComplaintIndex'] = ((0.5 * df['CustServCalls']) + (0.3 * df['RoamMins']) + (0.2 * df['OverageFee']))
df.head()

,Churn,AccountWeeks,ContractRenewal,DataPlan,DataUsage,CustServCalls,DayMins,DayCalls,MonthlyCharge,OverageFee,RoamMins,AvgMinPerCall,AvgDataUsagePerWeek,RoamMinsRatio,ComplaintIndex
0,0,128,1,1,2.7,1,265.1,110,89.0,9.87,10.0,2.410000,0.021094,0.037722,5.474
1,0,107,1,1,3.7,1,161.6,123,82.0,9.78,13.7,1.313821,0.034579,0.084777,6.566
2,0,137,1,0,0.0,0,243.4,114,52.0,6.06,12.2,2.135088,0.000000,0.050123,4.872
3,0,84,0,0,0.0,2,299.4,71,57.0,3.10,6.6,4.216901,0.000000,0.022044,3.600
4,0,75,0,0,0.0,3,166.7,113,41.0,7.42,10.1,1.475221,0.000000,0.060588,6.014

In [5]:
X = df.drop(columns=['Churn', 'ContractRenewal', 'DataPlan'])

In [6]:
scaler = StandardScaler()
df_scaled = scaler.fit_transform(X)
df_scaled = pd.DataFrame(df_scaled, columns=X.columns, index=X.index)

# Insert removed columns
df_final = pd.concat([df_scaled, df[['Churn', 'ContractRenewal', 'DataPlan']]], axis=1)
df_final.head()

,AccountWeeks,DataUsage,CustServCalls,DayMins,DayCalls,MonthlyCharge,OverageFee,RoamMins,AvgMinPerCall,AvgDataUsagePerWeek,RoamMinsRatio,ComplaintIndex,Churn,ContractRenewal,DataPlan
0,0.676489,1.480204,-0.427932,1.566767,0.476643,1.990727,-0.071584,-0.085008,0.735099,0.100484,-0.356334,-0.333213,0,1,1
1,0.149065,2.266072,-0.427932,-0.333738,1.124503,1.564510,-0.107082,1.240482,-0.761059,0.269943,0.223148,0.602388,0,1,1
2,0.902529,-0.641642,-1.188218,1.168304,0.675985,-0.262133,-1.574346,0.703121,0.359875,-0.164576,-0.203610,-0.848993,0,1,0
3,-0.428590,-0.641642,0.332354,2.196596,-1.466936,0.042307,-2.741846,-1.303026,3.201312,-0.164576,-0.549400,-1.938814,0,0,0
4,-0.654629,-0.641642,1.092641,-0.240090,0.626149,-0.931902,-1.037927,-0.049184,-0.540767,-0.164576,-0.074740,0.129447,0,0,0

In [8]:
df_final.to_csv('../../data/dataframes/telecom_churn_scaled.csv', index=False)